//1.FONT
@import url(https://fonts.bunny.net/css?family=dm-sans:400,500,700);
$font-dm-sans: 'DM Sans', sans-serif;;
$font-shippori: 'shippori-mincho', sans-serif;
$font-chivo: 'chivo', sans-serif;
$font-3xs: 8px;
$font-2xs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 30px;

//2.COLOR
$color-text: #181A1F;
$color-border: #E5E5E5;
$color-grey: #626262;
$color-dark: #181818;
$color-white: #fff;
$color-primary: #000000;
$color-primary-09: #000000e8;
$color-secondary: #E95440;
$color-lemon: #EFFC53;
$color-green: #22C58B;
$color-brand-1: #024430;
$color-brand-1-hover: #066a4c;
$color-brand-2: #FFE7BB;
$color-brand-3: #AFEAE4;
$color-brand-4: #E8B0E8;
$color-success: #06D6A0;
$color-danger: #EF476F;
$color-warning: #FFD166;
$color-mutted: #CFDEE3;
$color-info: #28A7E6;
$color-gray-50: #ECF1F2;
$color-gray-60: #E0F1F4;
$color-gray-80: #CDE2E7;
$color-gray-100: #B9CAD0;
$color-gray-200: #8EA4AC;
$color-gray-300: #6A838C;
$color-gray-400: #4E6770;
$color-gray-500: #3D565F;
$color-gray-600: #1F3C45;
$color-gray-700: #0E2932;
$color-gray-800: #122830;
$color-gray-900: #071920;

$color-black: #414357;
$color-blue: #006D77;
// End New

//3.Boxshadow
$box-shadow-1: 0px 2px 8px rgba(0, 0, 0, 0.08);
$box-shadow-2: 0px 6px 24px rgba(0, 0, 0, 0.1);
$box-shadow-3: 0px 10px 40px rgba(0, 0, 0, 0.05);
$box-shadow-4: 0px 24px 128px rgba(0, 0, 0, 0.14);
$box-shadow-5: 0px 0px 35px rgba(181, 181, 195, 0.15);

$box-shadow-1-1: 14px 14px 36px rgba(153, 153, 153, 0.22);
$box-shadow-inner: inset 0px 40px 80px #FCFCFC;
$box-shadow-6: 0px 4px 4px rgba(0, 0, 0, 0.25);

//5. Background
// New
$background-white: #ffffff;
$background-bg-1: #F0F2F6;
$background-bg-2: #FDEEEC;
$background-bg-3: #F0FBF7;
$background-bg-4: #F6F6F6;
$background-dard: #333333;
$background-bg-5: #3A77EA;
$background-bg-7: #FFEFD1;
$background-bg-8: #EBF5F8;
$background-bg-9: #F9FAF5;
$background-bg-10:#B7DDEC;
$background-bg-11: #E0F0FC;
// End new
// 6. text-shadow
$text-shadow: 0px 4px 4px rgba(0,0,0,0.25);

// 7. breakpoints
$grid-breakpoints: ( xs: 0,
xxsm: 350px,
xssm: 450px,
xsm: 500px,
sm: 576px,
smd: 650px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px);