.box-invoice-block {
    padding: 0px 20px;
}
.box-invoice {
    background-color: $background-white;
    box-shadow: $box-shadow-5;
    border-radius: 6px;
    position: relative;
    max-width: 1170px;
    margin: auto;
    margin-top: 145px;
    margin-bottom: 100px;
}
.inner-invoice {
    padding: 130px 100px 0px 100px;
}
.invoice-top {
    margin: 0px -10px;
}
.invoice-left {
    width: 100%;
    padding: 0px 10px;
}
.invoice-right {
    width: 100%;
    padding: 0px 10px;
    max-width: 350px;
}
.bottom-invoice {
    padding: 48px 0px 44px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-top: 1px solid $color-border;
    margin-top: 100px;
    a {
        display: inline-block;
        padding: 0px 30px;
    }
}
.table-invoice {
    thead {
        th {
            background-color: $background-bg-3;
            padding: 21px 41px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
        }
    }
    tbody {
        tr {
            td {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: $color-text;
                padding: 23px 41px;
                border-bottom: 1px solid $color-border;
            }
            &:last-child {
                td {
                    border-bottom: 0px;
                }
            }
        }
    }
}